html {
  background-color: bisque;
}

.App {
  text-align: center;
}

h1 {
  margin-top: 5px;
}

#linea1 {
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: 50px;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#linea2 {
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: 450px;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 3px black;
}